* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    place-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    
}

.container {
    width: 24rem;
    height: 35rem;
    background-color: #998c8e;
    border-radius: 15px;
    box-shadow: 20px 20px 30px 0;
    
}

form {
    display: grid;
    grid-template-areas: 
        "result result"
        "numbers operators"
        "operators2 operators2";
    height: 100%;
    gap: 20px;
}

.display {
    margin-top: 1rem;
    grid-area: result;
    width: 100%;
    height: 3rem;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.3em;
    padding: 10px;

}

input {
    grid-area: result;
    height: 2.5rem;
    margin-top: 1rem;
    cursor: default;
    border-radius: 6px;
    border: none;
}


.right-side {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: operators;
    gap: 7px;
}

.left-side {
    gap: 7px;
    grid-area: numbers;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: dense;
}

.right-side-down {
    gap: 7px;
    display: flex;
    flex-direction: column;
    grid-area: operators2;
    align-items: flex-end;

    button {
        width: 11.1rem;
    }
}

button {
    border: rgb(99, 90, 90) solid 2px;
    border-radius: 6px;
    height: 2.7rem;
    box-shadow: 1px 1px 6px 0;
    background-color: #ffffff;
    transition: ease-in .2s;
}

button:hover {
    transform: scale(1.02);
    background-color: bisque;
}